/** ************************************* **
    @Author			Ionel David
    @Website		data.gov.ro
    @Last Update	Sunday, December 15, 2019

    ~ ~ ~ UPDATE REASONS ~ ~ ~
    REWRITE RULES IN THIS CUSTOM CSS FILE!
    ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~	

 ** ************************************* **/
 

body {
    background: #FFF;
    /* font-family: 'Museo Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
     
    font-family: 'Montserrat', 'Titillium Web', sans-serif;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* font-family: 'Nunito', sans-serif; */
    /* font-family: 'Titillium Web', sans-serif; */
    font-size: 15px;
    font-weight: 100;
}

a {
    color: #0077BE;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat', 'Titillium Web', sans-serif;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 10px;
    /* margin-bottom: 10px; */
}

h1 {
    color: #135589;
}

.page-dynamic-landscapes table {
    border: 0;
}

.page-dynamic-landscapes td {
    vertical-align: top;
    padding: 5px 10px 0 0;
}

.page-dynamic-landscapes td td {
    padding: 0;
}

.page-dynamic-landscapes table img {
    max-width: none;
    padding: 0 15px 15px 0;
}

.page-dynamic-landscapes h1.page-heading {
    display: none;
}

.featured-organisation {
    background: #FFF;
    padding: 15px;
}

.featured-organisation h3 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 1.2;
}

.featured-organisation img {
    float: left;
    max-width: 120px;
    padding: 0 15px 0 0;
    margin-bottom: 20px;
}

.context-info h1.heading {
    hyphens: none;
    word-break: normal;
}



.btn-primary {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
    background: #FFF;
    color: #0E7EC1;
    text-shadow: unset;
    border: 2px solid #1089D2;
    padding: 3px 15px;
    border-radius: 10px;
    font-size: 1.0em;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
    background: #0E7EC1;
    color: #FFF;
}

.toolbar {
    background: #0E7EC1;
    box-shadow: 3px 3px 1px #CCC;
    /* border: 3px solid #FFF; */
    border: 1px solid #cccccc;
    border-radius: 4px;
    /* -webkit-box-shadow: 0 0 0 4px rgba(0,0,0,0.05); */
    box-shadow: 0 0 0 4px rgba(0,0,0,0.05);
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: -15px;
    margin-right: -15px;
    padding: 10px;
    color: #FFF;
}

.col-xs-12 {
    padding: 15px;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    /* border: 1px solid transparent; */
    border-radius: 4px;
}

.page-header .nav-tabs li.active a, .page-header .nav-tabs a:hover {
    font-weight: bold;
}

#header li.search .search-box {
    display: none;
    right: 0;
    left: auto;
    top: 100%;
    padding: 15px;
    background-color: #fff;
    position: absolute;
    box-shadow: 5px 5px rgba(91, 91, 91, 0.2);
    width: 274px;
    margin-top: 36px;
    z-index: 22;
}

.page-header.module-content {
    padding-top: 15px;
    padding-bottom: 0;
    margin-top: 0px;
}

.module-content {
    padding: 15px;
}

.breadcrumb > li {
    text-shadow: none;
}

.toolbar .breadcrumb a {
    color: #FFF;
    display: inline-block;
}

[role="main"],
.main,
.homepage [role="main"] {
    background: #F5EFEF;
    background: #FFF;
    padding: 0;
    min-height: unset;
}

[role="main"] + [role="main"] > .container,
[role="main"] > .container {
    background: #F5EFEF;
}

.hero h1 {
    padding: 1em;
    line-height: 1.1;
    margin: 0;
}

[role="main"] > .container {
    background: #FFF;
    padding-bottom: 2em;
}

.primary {
    padding-bottom: 1em;
}

[role="main"] + [role="main"] > .container {
    padding: 20px;
}

.homepage .stats ul li a strong {
    display: block;
    font-size: 35px;
    line-height: 1.5;
}

.homepage .stats h3 {
    display: none;
}

.theme-tile {
    background: #ccc;
    border: 3px solid #FFF;
    box-shadow: 0 0px 6px rgba(0, 0, 0, .25);
    color: #FFF;
    text-align: center;
    margin-bottom: 4px;
    padding: 30px 0px;
    height: 170px;
    display: inline-block;
    vertical-align: top;
    width: 157px;
}

.themes .theme-tile {
    display: table;
    height: auto;
    padding: 10px 0;
    vertical-align: middle;
    width: 100%;
}

.themes .theme-tile {
    margin: 5px;
    height: 95px;
    float: left;
}

.context-info .theme-tile {
    height: auto;
    width: 100%;
}

.themes {
    text-align: center;
}

.theme-tile span {
    font-size: 15px;
    font-weight: bold;
    line-height: 1.42857143;
    padding: 15px 9px 0;
    text-transform: uppercase;
    display: inline-block;
}

a.theme-tile:hover {
    color: #FFF;
    text-decoration: none;
}

.theme-tile img {
    display: inline-block;
    max-width: 90px;
}

.themes .theme-tile img {
    display: table-cell;
    padding: 0 10px 0 15px;
    width: 100%;
}

.themes .theme-tile span {
    display: table-cell;
    padding: 0 0 0 5px;
    text-align: left;
    vertical-align: middle;
    width: 55%;
}

.context-info .theme-tile img {
    max-width: 60%;
}

.theme-tile.digital-agriculture {
    background-color: #EEAA52;
}

.theme-tile.natural-resource-management {
    background-color: #547D89;
}

.theme-tile.health-wellbeing {
    background-color: #3CDAD6;
}

.theme-tile.hazard-planning-resilience {
    background-color: #FF7D5F;
}

.theme-tile.heritage-culture {
    background-color: #7C6f8B;
}

.theme-tile.regional-development {
    background-color: #437493;
}

.tag-tile {
    background-color: #FFF;
    display: block;
    text-align: center;
    padding-top: 1em;
}

h2.divider {
    text-transform: uppercase;
    text-align: center;
    background: url('/base/images/header-bg.png') repeat-x center center;
    margin-bottom: 20px;
}

h2.divider span {
    background: #F5EFEF;
    padding: 0 15px;
    color: #959595;
    display: inline-block;
}

.tag {
    border: 0;
    color: #eee;
    background-color: #0e7ec1;
}

a.tag:hover {
    background: #051e3a;
    border: 0;
    /* box-shadow: none; */
}

.box {
    border-radius: 0;
}

.homepage .module-search .module-content {
    border-radius: 0;
}

.homepage .module-search .tags {
    background-color: #0E7EC1;
    border-radius: 0;
}

.homepage .box .inner {
    padding: 10px 0 20px;
}

.homepage .stats ul {
    text-align: center;
}

.homepage .stats ul li {
    float: none;
    display: inline-block;
}

.homepage .stats ul li a {
    text-align: center;
}


.box {
    box-shadow: 3px 3px 1px #CCC;
    border: 3px solid #FFF;
}

.homepage .module-search {
    padding: 0;
    margin: 0;
}

.homepage .module-search .module-content {
    background: #1e5faa;
}

.branding {
    background: #FFF;
    padding: 2em 1em;
}

.header-image {
    max-width: 50%;
}

.masthead .logo img {
    max-width: 100%;
}

.masthead.navigation {
    background: #1e5faa url('/base/images/band.png') repeat-x center bottom;
    min-height: unset;
    padding-top: 0;
    padding-bottom: 8px;
}

.masthead .navbar-collapse {
    padding: 0;
}

.masthead .debug {
    color: #000;
}

/* Searchbox */
.masthead .site-search {
    margin: 14px 0 2px 0;
}

.masthead .site-search-wrapper {
    width: 50%;
    padding-left: 20px;
    float: right;
}

.masthead input[type="text"] {
    border: 0;
    border-radius: 0;
    box-shadow: none;
}

.masthead .site-search input {
    background: #f0f0f0;
    padding: 6px 12px;
    color: #555;
    width: 270px;
    display: inline-block;
}

.simple-input .field .btn-search {
    background: #444;
    width: auto;
    color: #FFF;
    padding: 6px 12px 5px;
    height: auto;
    /*line-height: 1.42857143;*/
    position: static;
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

.simple-input .field .btn-search:hover {
    color: inherit;
}

/* End Search */

/* Nav */


.masthead .btn-navbar,
.masthead .btn-navbar:hover,
.masthead .btn-navbar:focus,
.masthead .btn-navbar:active,
.masthead .btn-navbar.active,
.masthead .btn-navbar.disabled,
.masthead .btn-navbar[disabled] {
    padding: 0 0 4px;
    text-align: center;
    height: 28px;
    width: 34px;
    line-height: 2px;
}

.masthead .btn-navbar i {
    margin: 0;
    padding-top: 4px;
    display: inline-block;
}

.navbar .btn-navbar .icon-bar {
    display: inline-block;
}

.navbar .nav > li > a {
    line-height: 9px;
    padding: 18px 15px;
    display: inline-block;
    margin: 0;
    font-weight: 100;
}

.masthead .account li {
    padding: 0px;
}

.masthead .account li > a {
    padding: 15px;
    line-height: 9px;
    display: inline-block;
}

.masthead .account li > a > .gravatar {
    display: none;
}

.masthead .navigation .nav-pills li a:hover,
.masthead .navigation .nav-pills li.active a {
    background: transparent;
    border-radius: 0;
    box-shadow: none;
}

.masthead .account .notifications a span.badge {
    font-size: 12px;
    margin-left: 3px;
    padding: 1px 6px;
    background-color: transparent;
    text-shadow: none;
    color: #bfd7de;
}

/* End nav */

.search-form .search-input.search-giant input {
    box-shadow: none;
    border: 1px solid #DDD;
    border-radius: 0;
}


.search-form .search-input-group {
    margin-bottom: 10px;
}

.search-form {
    padding-bottom: 10px;
}



.site-footer {
    background: #212121;
    border-top: 6px solid #1E5EA9;
}

.site-footer,
.site-footer label,
.site-footer small {
    color: #959595;
}

.site-footer a {
    color: #CCC;
}

.resource-item .heading {
    display: block;
    margin-right: 125px;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
}

/*.page-heading {
    -ms-word-break: break-all;
    word-break: break-all;
    -ms-word-wrap:break-word;
    word-wrap:break-word;
}*/

.dataset-map-expanded .leaflet-draw-toolbar a.leaflet-draw-draw-rectangle {
    display: none;
}

@media (max-width: 767px) {
    .container,
    .navbar-static-top .container,
    .navbar-fixed-top .container,
    .navbar-fixed-bottom .container {
        width: auto;
    }

    [class*="span"],
    .uneditable-input[class*="span"],
    .row-fluid [class*="span"] {
        width: 100%;
    }

}

@media (max-width: 979px) {
    /*navbar .nav > li > a {
        padding: 15px 10px;
    }*/

    .masthead .btn-navbar,
    .masthead .btn-navbar:hover,
    .masthead .btn-navbar:focus,
    .masthead .btn-navbar:active,
    .masthead .btn-navbar.active,
    .masthead .btn-navbar.disabled,
    .masthead .btn-navbar[disabled] {
        display: inline-block;
    }

    .masthead.navigation {
        min-height: 55px;
    }

}

@media (min-width: 768px) {

    .masthead .navigation {
        float: left;
    }

    .masthead .account {
        float: right;
    }

    .masthead .site-search {
        float: right;
    }
    /*.masthead .account.collapse {
        height: unset !important;
    }
*/
    .masthead .account li {
        display: inline-block;
    }

    .masthead .account li .text {
        display: none;
    }

    .masthead .account li > a {
        padding: 18px 5px;
    }

}

@media (min-width: 1180px) {
    .container,
    .navbar-static-top .container,
    .navbar-fixed-top .container,
    .navbar-fixed-bottom .container {
        width: 1180px;
    }

   /* .span12 {
        width: 1180px;
    }

    .span11 {
        width: 1080px;
    }

    .span10 {
        width: 980px;
    }

    .span9 {
        width: 880px;
    }

    .span8 {
        width: 780px;
    }

    .span7 {
        width: 680px;
    }

    .span6 {
        width: 580px;
    }

    .span5 {
        width: 480px;
    }

    .span4 {
        width: 380px;
    }

    .span3 {
        width: 280px;
    }

    .span2 {
        width: 180px;
    }

    .span1 {
        width: 80px;
    }*/

    .wrapper {
        background-position: 60px 0;
    }

    .themes .theme-tile span {
        width: 75%;
    }

    .module-content .themes .theme-tile span {
        width: 70%;
    }

}

@media (min-width: 980px) and (max-width: 1179px) {
    .container,
    .navbar-static-top .container,
    .navbar-fixed-top .container,
    .navbar-fixed-bottom .container {
        width: 940px;
    }

    /*.span12 {
        width: 940px;
    }

    .span11 {
        width: 860px;
    }

    .span10 {
        width: 780px;
    }

    .span9 {
        width: 700px;
    }

    .span8 {
        width: 620px;
    }

    .span7 {
        width: 540px;
    }

    .span6 {
        width: 460px;
    }

    .span5 {
        width: 380px;
    }

    .span4 {
        width: 300px;
    }

    .span3 {
        width: 220px;
    }

    .span2 {
        width: 140px;
    }

    .span1 {
        width: 60px;
    }
*/
    /*.themes .theme-tile {
        width: 47%;
    }*/

    .themes .theme-tile span {
        width: 70%;
    }

    .module-content .themes .theme-tile span {
        width: 65%;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .container,
    .navbar-static-top .container,
    .navbar-fixed-top .container,
    .navbar-fixed-bottom .container {
        width: 724px;
    }

  /*  .span12 {
        width: 724px;
    }

    .span11 {
        width: 662px;
    }

    .span10 {
        width: 600px;
    }

    .span9 {
        width: 538px;
    }

    .span8 {
        width: 476px;
    }

    .span7 {
        width: 414px;
    }

    .span6 {
        width: 352px;
    }

    .span5 {
        width: 290px;
    }

    .span4 {
        width: 228px;
    }

    .span3 {
        width: 166px;
    }

    .span2 {
        width: 104px;
    }

    .span1 {
        width: 42px;
    }
*/
/*    .themes .theme-tile {
        width: 47%;
    }*/

    .themes .theme-tile span {
        width: 65%;
    }

    .module-content .themes .theme-tile {
        float: none;
        width: 100%;
    }

    .module-content .themes .theme-tile span {
        width: 75%;
    }

    .page-dynamic-landscapes td td {
        display: table-cell;
        padding: 0;
    }

    .masthead .site-search input {
        max-width: 250px;
    }

}

@media (max-width: 979px) {
    /*.navbar .nav > li > a {
        padding: 15px;
    }*/

    .page-dynamic-landscapes td {
        display: block;
    }

}

@media (max-width: 767px) {
    body {
        background: #F5EFEF;
    }

    .toolbar {
        margin: 0 -20px 22px;
    }

    .module-content:first-child {
        padding-top: 40px;
    }

    .header-image {
        max-width: none;
    }

    .masthead.branding {
        padding-bottom: 0.8em;
    }

    .masthead .site-search-wrapper {
        width: 100%;
        float: left;
        padding-left: 0;
    }

    .site-footer {
        position: absolute;
        left: 0;
        right: 0;
        padding: 20px;
    }

    .themes .theme-tile {
        display: table;
        height: auto;
        padding: 10px 0;
        vertical-align: middle;
        width: 100%;
    }

    .themes .theme-tile img {
        display: table-cell;
        padding: 0 10px 0 15px;
        width: 100%;
    }

    .themes .theme-tile span {
        display: table-cell;
        padding: 0 0 0 5px;
        text-align: left;
        vertical-align: middle;
        width: 55%;
    }

    .context-info .theme-tile img {
        display: block;
        max-width: 120px;
        margin: 0 auto;
    }

    .homepage .themes {
        margin: 40px 0 20px;
    }

    .dataset-map-expanded #dataset-map {
        width: auto;
        top: -2px;
        left: 0;
        right: 0;
        border-width: 0 0 1px;
        z-index: 1;
    }


}

@media (max-width: 991px) {
    .masthead .site-search {
        display: block;
    }
}
/* finish of custom */

/* Tag Cloud on index*/
.tag_under_search {
    position:relative;
    display:inline-block;
    margin: 0 6px 3px 0;
}
a.tag_under_search:hover {color: orange; text-decoration: underline; }
.tag_under_search>span.txt {
    border: 1px solid #e3e3e3;
    color: #666;
    display: inline-block;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 8px 9px;
    text-transform: uppercase;
    float:left;
    background: white;
}
.tag_under_search>span.num {	
    background: #eeeeee;
    border-color: #e3e3e3;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    font-size: 11px;
    padding: 8px 9px 8px 11px;
    color: #333;
    position: relative;
    margin-left: -1px;
    float: left;
}
.tag_under_search>span.num:before {
    border-color: rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0) #C6C6C6;
    border-style: solid;
    border-width: 4px;
    content: "";
    display: block;
    left: 0px;
    position: absolute;
    top: 12px;
}
.tag_under_search>span.num:after {
    border-color: rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0) #fff;
    border-style: solid;
    border-width: 4px;
    content: "";
    display: block;
    left: -1px;
    position: absolute;
    top: 12px;
}

section.dark .tag_under_search>span.txt {
    border: 1px solid #666;
    color: #ccc;
}
section.dark .tag_under_search>span.num {
    background: rgba(0,0,0,0.01);
    border-color: #666;
    color: #ccc;
}
section.dark  .tag_under_search>span.num:before {
    border-color: rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0) #666;
}
section.dark  .tag_under_search>span.num:after {
    border-color: rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0) #212121;
}


.box-icon .box-icon-title>h2 {
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    font-weight: 400;
    -webkit-transition: all .200s;
    -moz-transition: all .200s;
    -o-transition: all .200s;
    transition: all .200s;
}


/**	18. Buttons
*************************************************** **/
/* .btn, .btn-group {
	margin: 5px 5px 5px 0;
} */

	.btn.pull-right,
	.btn-group.pull-right {
		margin: 5px 0 5px 5px;
	}

.btn-group .btn {
	margin-right:0;
	margin-left:0;
}
#header .btn,
#footer .btn,
.dropdown .btn,
.input-group .btn {
	margin:0;
}

/* translucid */
.btn-translucid {
	color:#fff;
	border:rgba(0,0,0,0.07) 1px solid;
	background-color:rgba(0,0,0,0.07);

	-webkit-transition: all .400s;
	   -moz-transition: all .400s;
		 -o-transition: all .400s;
			transition: all .400s;
}
.btn-translucid:hover {
	color:#fff;
	background-color:rgba(0,0,0,0.2);
}

/* 3D Buttons */
.btn-3d {
	border-bottom: 3px solid rgba(0,0,0,.15);
}
	.btn-3d:hover {
	  opacity: 0.9;
	  filter: alpha(opacity=90);
	}
	.btn-3d.btn-link {
		border-bottom:0;
	}

/* Extra Large Buttons */
	.btn-xlg {
		padding: 24px 34px;
	}

/* Button reveal */
.btn.btn-reveal {
    padding-left:28px;
    padding-right:28px;
    overflow: hidden;
	position:relative;
}

.btn.btn-reveal i {
    display: block;
    position: absolute;
    left: -32px;
    width: 32px;
    top: 0;
	bottom:0;
    margin: 0;
	padding:0;
	font-size:17px;
	line-height:34px;
    text-align: center;
    background-color: rgba(0,0,0,0.1);
}
.btn.btn-reveal span {
    display: inline-block;
    position: relative;
    left: 0;
}
body:not(.device-touch) .btn.btn-reveal i,
body:not(.device-touch) .btn.btn-reveal span {
    -webkit-transition: left 0.3s ease, right 0.3s ease;
		 -o-transition: left 0.3s ease, right 0.3s ease;
			transition: left 0.3s ease, right 0.3s ease;
}

	/* extra small */
	.btn.btn-reveal.btn-xs { 
		padding: 0 17px; 
	}
	.btn.btn-reveal.btn-xs i {
		left: -22px;
		width: 22px;
		height: 28px;
		line-height: 20px;
		font-size:12px;
	}
	/* small */
	.btn.btn-reveal.btn-sm { 
		padding-left: 22px; 
		padding-right: 22px; 
	}
	.btn.btn-reveal.btn-sm i {
		left: -26px;
		width: 26px;
		height: 34px;
		line-height: 28px;
		font-size:14px;
	}
	/* large */
	.btn.btn-reveal.btn-lg { 
		padding-left:32px; 
		padding-right:32px; 
	}
	.btn.btn-reveal.btn-lg i {
		left: -38px;
		width: 38px;
		height: 46px;
		line-height: 46px;
	}
	/* extra large */
	.btn.btn-reveal.btn-xlg { 
		padding-left:40px; 
		padding-right:40px; 
	}
	.btn.btn-reveal.btn-xlg i {
		left: -44px;
		width: 44px;
		height: 72px;
		line-height: 72px;
		font-size:20px;
	}

.btn.btn-reveal:hover i { 
	left: 0; 
}
.btn.btn-reveal:hover span { 
	left: 16px; 
}


/* Button Bordered */
.btn.btn-bordered {
	border-color:#333;
	border-width:2px;
}
.btn.btn-bordered:hover {
	color:#fff;
	background-color:#333;
}

/* button colors */
.btn-red { background-color: #C02942; color: #FFF !important; }
.btn-teal { background-color: #53777A; color: #FFF !important; }
.btn-yellow { background-color: #ECD078; color: #333 !important; }
.btn-green { background-color: #59BA41; color: #FFF !important; }
.btn-brown { background-color: #774F38; color: #FFF !important; }
.btn-aqua { background-color: #40C0CB; color: #FFF !important; }
.btn-lime { background-color: #AEE239; color: #FFF !important; }
.btn-purple { background-color: #5D4157; color: #FFF !important; }
.btn-leaf { background-color: #A8CABA; color: #333 !important; }
.btn-pink { background-color: #F89FA1; color: #FFF !important; }
.btn-dirtygreen { background-color: #1693A5; color: #FFF !important; }
.btn-blue { background-color: #1265A8; color: #FFF !important; }
.btn-amber { background-color: #EB9C4D; color: #FFF !important; }
.btn-black { background-color: #111; color: #FFF !important; }
.btn-white { background-color: #F9F9F9; color: #333 !important; }


.fullwidth.btn-red:hover,
.fullwidth.btn-teal:hover,
.fullwidth.btn-yellow:hover,
.fullwidth.btn-green:hover,
.fullwidth.btn-brown:hover,
.fullwidth.btn-aqua:hover,
.fullwidth.btn-lime:hover,
.fullwidth.btn-purple:hover,
.fullwidth.btn-leaf:hover,
.fullwidth.btn-pink:hover,
.fullwidth.btn-dirtygreen:hover,
.fullwidth.btn-blue:hover,
.fullwidth.btn-amber:hover,
.fullwidth.btn-black:hover,
.fullwidth.btn-white:hover {
	color:#fff !important;
	background-color:#434343;
}



section.dark .btn-default {
	color:#fff;
	background-color:transparent;
	border-color:rgba(255,255,255,0.5);
}


.btn-clean {
	color:#555;
}


/* BOOTSTRAP REWRITE */
.btn-sm,
.btn-xs,
.btn-lg,
.btn-xlg {
    height:auto;
}
.btn,
.form-control {
    height:40px;
}
a.btn {
	line-height:26px;
}
a.btn.btn-xs {
	line-height:inherit;
}

.btn-3d {
	line-height:25px;
	margin-bottom:3px;
}
.btn-3d.btn-xlg {
	line-height:inherit;
}



/* bootstrap modal */
.modal-backdrop {
	background-color:#fff;
}
.modal-content {
	border:0;
	border-top:#333 4px solid;
}
.modal-dialog {
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;

	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
			box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}
.modal-header .close {
	margin-top:2px;
}

.badge {
    background-color: #0e7ec17a;
}

.module-heading {
    font-size: 16px;
}

.rating-star {
    /* float: left;
    font-size: 1.5em;
    padding: 0 5px; */
    color: RED;
}

a.rating-star-hover,
a.rating-star-hover:hover {
    color: #0e7ec17a;
    text-decoration: none;
}

a.rating-star:focus,
a.rating-star:active {
    text-decoration: none;
    background-color: #0E7EC1;
}

/* for Pages and Blog list display */
/* .row {
    margin-left: 0px;
    margin-right: 0px;
} */


.price-clean h4 {
    font-size: 18px;
    line-height: 20px;
}


/**	17. Social icons
*************************************************** **/
.social-icon {
	margin: 0 5px 5px 0;
    width: 40px;
    height: 40px;
	text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    border-color: transparent; 
    overflow: hidden;
	display:inline-block;
	text-decoration:none !important;
	text-align: center;
	cursor: pointer;
	font-style: normal;
	letter-spacing: 0em !important;
	color: #eaeaea !important; 

	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;
}
	.social-icon:hover>i {
		color:#fff;
	}
.social-icon i {
	display: block;
	position: relative;
    width: 40px;
    height: 40px;
	margin-top:6px;
	font-size: 28px;
}

.social-icon:hover i:first-child { 
	margin-top: -38px; 
}
.social-icon:hover i:last-child { 
	margin-top:4px;
}


body:not(.device-touch) .social-icon {
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

body:not(.device-touch) .social-icon i {
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}


/* medium */
a.social-icon>i[class*=" icon-"],
a.social-icon>i[class^=icon-] {
	font-size:20px;
}

/* small */
a.social-icon.social-icon-sm,
a.social-icon.social-icon-sm>i {
	width:30px;
	height:30px;
	margin-top:3px;
	font-size: 17px;
	line-height:23px;
}
a.social-icon.social-icon-sm>i:last-child {
	padding-top:7px;
}
a.social-icon.social-icon-sm>i[class*=" icon-"],
a.social-icon.social-icon-sm>i[class^=icon-] {
	font-size:17px;
}


.social-facebook:hover { background-color: #3B5998 !important; }
.social-facebook { background-color: #3B5998; }
.social-delicious:hover { background-color: #205CC0 !important; }
.social-delicious { background-color: #205CC0; }
.social-paypal:hover { background-color: #00588B !important; }
.social-paypal { background-color: #00588B; }
.social-flattr:hover{ background-color: #F67C1A !important; }
.social-flattr { background-color: #F67C1A; }
.social-android:hover{ background-color: #A4C639 !important; }
.social-android { background-color: #A4C639; }
.social-smashmag:hover { background-color: #E53B2C !important; }
.social-smashmag { background-color: #E53B2C; }
.social-gplus:hover { background-color: #DD4B39 !important; }
.social-gplus { background-color: #DD4B39; }
.social-wikipedia:hover { background-color: #333 !important; }
.social-wikipedia { background-color: #333; }
.social-stumbleupon:hover { background-color: #F74425 !important; }
.social-stumbleupon { background-color: #F74425; }
.social-foursquare:hover { background-color: #25A0CA !important; }
.social-foursquare { background-color: #25A0CA; }
.social-call:hover { background-color: #444 !important; }
.social-call { background-color: #444; }
.social-ninetyninedesigns:hover { background-color: #F26739 !important; }
.social-ninetyninedesigns { background-color: #F26739; }
.social-forrst:hover { background-color: #5B9A68 !important; }
.social-forrst { background-color: #5B9A68; }
.social-digg:hover { background-color: #191919 !important; }
.social-digg { background-color: #191919; }
.social-spotify:hover{ background-color: #81B71A !important; }
.social-spotify { background-color: #81B71A; }
.social-reddit:hover { background-color: #C6C6C6 !important; }
.social-reddit { background-color: #C6C6C6; }
.social-blogger:hover { background-color: #FC4F08 !important; }
.social-blogger { background-color: #FC4F08; }
.social-cc:hover { background-color: #688527 !important; }
.social-cc { background-color: #688527; }
.social-dribbble:hover { background-color: #EA4C89 !important; }
.social-dribbble { background-color: #EA4C89; }
.social-evernote:hover { background-color: #5BA525 !important; }
.social-evernote { background-color: #5BA525; }
.social-flickr:hover { background-color: #FF0084 !important; }
.social-flickr { background-color: #FF0084; }
.social-google:hover { background-color: #DD4B39 !important; }
.social-google { background-color: #DD4B39; }
.social-instapaper:hover { background-color: #333 !important; }
.social-instapaper { background-color: #333; }
.social-klout:hover { background-color: #FF5F52 !important; }
.social-klout { background-color: #FF5F52; }
.social-linkedin:hover { background-color: #0E76A8 !important; }
.social-linkedin { background-color: #0E76A8; }
.social-vk:hover { background-color: #2B587A !important; }
.social-vk { background-color: #2B587A; }
.social-rss:hover { background-color: #EE802F !important; }
.social-rss { background-color: #EE802F; }
.social-skype:hover { background-color: #00AFF0 !important; }
.social-skype { background-color: #00AFF0; }
.social-twitter:hover { background-color: #00ACEE !important; }
.social-twitter { background-color: #00ACEE; }
.social-youtube:hover { background-color: #C4302B !important; }
.social-youtube { background-color: #C4302B; }
.social-vimeo:hover { background-color: #86C9EF !important; }
.social-vimeo { background-color: #86C9EF; }
.social-aim:hover { background-color: #FCD20B !important; }
.social-aim { background-color: #FCD20B; }
.social-yahoo:hover { background-color: #720E9E !important; }
.social-yahoo { background-color: #720E9E; }
.social-email3:hover { background-color: #6567A5 !important; }
.social-email3 { background-color: #6567A5; }
.social-macstore:hover { background-color: #333333 !important; }
.social-macstore { background-color: #333333; }
.social-myspace:hover { background-color: #666666 !important; }
.social-myspace { background-color: #666666; }
.social-podcast:hover { background-color: #E4B21B !important; }
.social-podcast { background-color: #E4B21B; }
.social-cloudapp:hover { background-color: #525557 !important; }
.social-cloudapp { background-color: #525557; }
.social-dropbox:hover { background-color: #3D9AE8 !important; }
.social-dropbox { background-color: #3D9AE8; }
.social-ebay:hover { background-color: #89C507 !important; }
.social-ebay { background-color: #89C507; }
.social-github:hover { background-color: #171515 !important; }
.social-github { background-color: #171515; }
.social-googleplay:hover { background-color: #DD4B39 !important; }
.social-googleplay { background-color: #DD4B39; }
.social-itunes:hover { background-color: #222 !important; }
.social-itunes { background-color: #222; }
.social-plurk:hover { background-color: #CF5A00 !important; }
.social-plurk { background-color: #CF5A00; }
.social-pinboard:hover { background-color: #0000E6 !important; }
.social-pinboard { background-color: #0000E6; }
.social-soundcloud:hover { background-color: #FF7700 !important; }
.social-soundcloud { background-color: #FF7700; }
.social-tumblr:hover { background-color: #34526F !important; }
.social-tumblr { background-color: #34526F; }
.social-wordpress:hover { background-color: #1E8CBE !important; }
.social-wordpress { background-color: #1E8CBE; }
.social-yelp:hover { background-color: #C41200 !important; }
.social-yelp { background-color: #C41200; }
.social-intensedebate:hover { background-color: #009EE4 !important; }
.social-intensedebate { background-color: #009EE4; }
.social-eventbrite:hover { background-color: #F16924 !important; }
.social-eventbrite { background-color: #F16924; }
.social-scribd:hover { background-color: #666666 !important; }
.social-scribd { background-color: #666666; }
.social-stripe:hover { background-color: #008CDD !important; }
.social-stripe { background-color: #008CDD; }
.social-print:hover { background-color: #111 !important; }
.social-print { background-color: #111; }
.social-dwolla:hover { background-color: #FF5C03 !important; }
.social-dwolla { background-color: #FF5C03; }
.social-statusnet:hover { background-color: #131A30 !important; }
.social-statusnet { background-color: #131A30; }
.social-acrobat:hover { background-color: #D3222A !important; }
.social-acrobat { background-color: #D3222A; }
.social-drupal:hover { background-color: #27537A !important; }
.social-drupal { background-color: #27537A; }
.social-buffer:hover { background-color: #333333 !important; }
.social-buffer { background-color: #333333; }
.social-pocket:hover { background-color: #EE4056 !important; }
.social-pocket { background-color: #EE4056; }
.social-bitbucket:hover { background-color: #0E4984 !important; }
.social-bitbucket { background-color: #0E4984; }
.social-stackoverflow:hover { background-color: #EF8236 !important; }
.social-stackoverflow { background-color: #EF8236; }
.social-hackernews:hover { background-color: #FF6600 !important; }
.social-hackernews { background-color: #FF6600; }
.social-xing:hover { background-color: #126567 !important; }
.social-xing { background-color: #126567; }
.social-instagram:hover { background-color: #3F729B !important; }
.social-instagram { background-color: #3F729B; }
.social-quora:hover { background-color: #A82400 !important; }
.social-quora { background-color: #A82400; }
.social-openid:hover { background-color: #E16309 !important; }
.social-openid { background-color: #E16309; }
.social-steam:hover { background-color: #111 !important; }
.social-steam { background-color: #111; }
.social-amazon:hover { background-color: #E47911 !important; }
.social-amazon { background-color: #E47911; }
.social-disqus:hover { background-color: #E4E7EE !important; }
.social-disqus { background-color: #E4E7EE; }
.social-plancast:hover { background-color: #222 !important; }
.social-plancast { background-color: #222; }
.social-appstore:hover { background-color: #000 !important; }
.social-appstore { background-color: #000; }
.social-pinterest:hover { background-color: #C8232C !important; }
.social-pinterest { background-color: #C8232C; }
.social-fivehundredpx:hover { background-color: #111 !important; }
.social-fivehundredpx { background-color: #111; }

/* rounded social icons */
a.social-icon.social-icon-round {
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
			border-radius: 50%;
}

/* bordered social icons */
a.social-icon.social-icon-border {
	background-color:transparent;
	border:#999 1px solid;
	color:#565656 !important;
	text-shadow:none;
}
a.social-icon.social-icon-border:hover {
	border-color:transparent;
}
a.social-icon.social-icon-border:hover>i {
	color:#fff !important;
}
	section.dark a.social-icon.social-icon-border {
		color:#fff !important;
	}
	section.dark a.social-icon.social-icon-border:hover>i {
		color:#111 !important;
	}


/* light social icons */
a.social-icon.social-icon-light {
	background-color:rgba(0,0,0,0.1);
	text-shadow:none;
	color:#888 !important;
}
a.social-icon.social-icon-light:hover>i {
	color:#fff !important;
}
	section.dark a.social-icon.social-icon-light {
		background-color:#666;
		color:#fff !important;
	}
	section.dark a.social-icon.social-icon-light:hover>i {
		color:#111 !important;
	}


/* dark social icons */
a.social-icon.social-icon-dark {
	background-color:#444;
	text-shadow:none;
	color:#eee !important;
}
a.social-icon.social-icon-dark:hover>i {
	color:#fff !important;
}
	section.dark a.social-icon.social-icon-dark {
		background-color:#111;
		color:#fff !important;
	}



/* transparent social icons */
a.social-icon.social-icon-transparent {
	background-color:transparent;
	text-shadow:none;
	color:#666 !important;
}
a.social-icon.social-icon-transparent:hover>i {
	color:#fff !important;
}
	section.dark a.social-icon.social-icon-transparent {
		color:#999 !important;
	}
	section.dark a.social-icon.social-icon-transparent:hover>i {
		color:#fff !important;
	}

h4 {
    margin: 7px 0 14px 0;
}

.fade {
    opacity: 1;
}


/**	21. Alerts
*************************************************** **/
div.alert {
	border-left-color:rgba(0,0,0,0.1);
	border-width:1px;
	border-left-width:5px;
}
div.alert-default {
	background-color:rgba(0,0,0,0.1);
}
	section.dark .alert-default {
		color:#fff;
		background-color:#111;
	}
	section.dark .alert-default h1,
	section.dark .alert-default h2,
	section.dark .alert-default h3,
	section.dark .alert-default h4,
	section.dark .alert-default h5,
	section.dark .alert-default h6,
	section.dark .alert-default p {
		color:#fff !important;
	}
div.alert.alert-primary,
div.alert.alert-primary a {
	color:#fff;
}
div.alert.alert-bordered-dashed {
	padding:30px 20px;
	border:#ccc 2px dashed;
}
div.alert.alert-bordered-dotted {
	padding:30px 20px;
	border:#ccc 2px dotted;
}
div.alert.alert-bordered {
	padding:30px 20px;
	border:#ccc 2px solid;
}
div.alert.alert-theme-color,
div.alert.alert-dark {
	color:#fff;
	background-color:#333;
	border:0;
	padding:30px 20px;
}	
	div.alert.alert-theme-color h1,
	div.alert.alert-theme-color h2,
	div.alert.alert-theme-color h3,
	div.alert.alert-theme-color h4,
	div.alert.alert-theme-color h5,
	div.alert.alert-theme-color h6,
	div.alert.alert-dark h1,
	div.alert.alert-dark h2,
	div.alert.alert-dark h3,
	div.alert.alert-dark h4,
	div.alert.alert-dark h5,
	div.alert.alert-dark h6 {
		color:#fff;
	}

	section.dark div.alert,
	section.dark div.alert h1,
	section.dark div.alert h2,
	section.dark div.alert h3,
	section.dark div.alert h4,
	section.dark div.alert h5,
	section.dark div.alert h6,
	section.dark div.alert p {
		color:#333;
	}


	section.dark div.callout.alert.alert-border,
	section.dark div.callout.alert.alert-border h1,
	section.dark div.callout.alert.alert-border h2,
	section.dark div.callout.alert.alert-border h3,
	section.dark div.callout.alert.alert-border h4,
	section.dark div.callout.alert.alert-border h5,
	section.dark div.callout.alert.alert-border h6,
	section.dark div.callout.alert.alert-border p {
		color:#fff;
	}


/* bordered top|botom */
div.alert>.container {
	margin-top:35px;
	margin-bottom:35px;
}
div.alert.bordered-bottom {
	border-bottom:rgba(0,0,0,0.1) 1px solid;
	border-left-width:0;
}
div.alert.bordered-top {
	border-bottom:rgba(0,0,0,0.1) 1px solid;
	border-left-width:0;
}
div.alert.bordered-bottom h4,
div.alert.bordered-top h4,
div.alert.bordered-bottom h3,
div.alert.bordered-top h3 {
	font-weight:400;
	margin:0;
}
div.alert.bordered-bottom p,
div.alert.bordered-top p,
div.alert.bordered-bottom p,
div.alert.bordered-top p {
	margin-top:0;
}

	section.dark div.alert.bordered-bottom {
		border-bottom:#666 1px solid;
	}
	section.dark div.alert.bordered-top {
		border-bottom:#666 1px solid;
	}

@media only screen and (max-width: 760px) {
	div.alert.bordered-bottom {
		text-align:center;
	}
	div.alert.bordered-bottom .btn {
		text-align:center;
		display:block;
		margin-top:35px;
	}
}
	

/* mini alerts */
.alert.alert-mini {
	padding:6px 10px;
	border-left:0;
}