{# Renders a list of resources with icons and view links. resources - A list of
resources to render pkg - A package object that the resources belong to.
Example: {% snippet "package/snippets/resources_list.html", pkg=pkg,
resources=pkg.resources %} #}
<hr />
<section id="dataset-resources" class="resources">
  <h3>{{ _('Data and Resources') }}</h3>

  {% block resource_list %} {% if resources %}
  <button onclick="downloadAll()" class="float-right btn btn-primary btn-lg">
    <i class="fa fa-download" aria-hidden="true"></i>
    <span>{{ _('Download All') }}</span>
  </button>
  <br/><br/>
  <ul class="{% block resource_list_class %}resource-list{% endblock %} pt-4">
    {% block resource_list_inner %} {% for resource in resources %} {% snippet
    'package/snippets/resource_item.html', pkg=pkg, res=resource %} {% endfor %}
    {% endblock %}
  </ul>

  <!-- TODO @palcu: clean this stuff -->
  <div class="rw-ui-container"></div>
  <div id="pd_rating_holder_7325314"></div>
  <script type="text/javascript">
    PDRTJS_settings_7325314 = {
      id: "7325314",
      unique_id: "{{url}}",
      title: "",
      permalink: "",
    };
  </script>
  <br /><br />

  <script type="text/javascript">
  // parse objects from CKAN for javascript use
  const preload_resource = {{ h.literal(h.dump_json(resources)) }};
  
  downloadAll = () => {
    var zip = new JSZip();
    var count = 0;
    // nama zipfile
    var zipFilename = "{{ h.dataset_display_name(pkg)}}.zip";

    preload_resource.forEach(function(res){
      var lowerCasing = res.format.toLowerCase(); // lower casing for all file format
      var removeDot = lowerCasing.replace(/[ ,.]/g, ''); // remove any possible '.' in file format
      var fileExtension = removeDot.replace('plain text', 'txt') // checks & convert string 'plain text' into 'txt'
      var filename = res.description.slice(0, 14) + '.' + fileExtension; // truncate long filename limit 15 chars

      // loading a file and add it in a zip file
      JSZipUtils.getBinaryContent(res.url || res.mampu_download_url, function (err, data) {
        if(err) {
            throw err; // or handle the error
        }
        zip.file(filename, data, {binary:true});
        count++;
        if (count == preload_resource.length) {
          const zipFile = zip.generate({type: "blob"});
          setTimeout(() => {
            saveAs(zipFile, zipFilename);
          }, 1000)
        }
      });
    });
  }
  </script>

  <!--<div id="disqus_thread"></div>-->
  <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */

    var disqus_shortname = "mampu";
    var disqus_url =
      "https://" + window.location.host + window.location.pathname;
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
      var dsq = document.createElement("script");
      dsq.type = "text/javascript";
      dsq.async = true;
      dsq.src = "//" + disqus_shortname + ".disqus.com/embed.js";
      (
        document.getElementsByTagName("head")[0] ||
        document.getElementsByTagName("body")[0]
      ).appendChild(dsq);
    })();
  </script>
  <!-- <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
       <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
      -->
  {% else %} {% if h.check_access('resource_create', {'package_id': pkg['id']})
  %} {% trans url=h.url_for(controller='package', action='new_resource',
  id=pkg.name) %}
  <p class="empty">
    This dataset has no data, <a href="{{ url }}">why not add some?</a>
  </p>
  {% endtrans %} {% else %}
  <p class="empty">{{ _('This dataset has no data') }}</p>
  {% endif %} {% endif %} {% endblock %}
</section>
