
<!-- GROUPS -->
<section class="alternate padding-xs">
    <div class="container">
        <header class="text-center margin-bottom-40">
            <h1 class="weight-300">DATA.GOV.RO</h1>
            <h2 class="weight-300 letter-spacing-1 size-13"><span>{% trans %}OPEN DATASETS PORTAL{% endtrans %}</span>
            </h2>
        </header>

        <div class="text-center">
            <p class="lead size-16">
                {% trans %}Central access point for open data sets delivered by public administration authorities and institutions, helping the public to find, download and use the information generated and held by the administrative structures.{% endtrans %}
            </p>
        </div>

        <div class="row">
            {% for group in h.mampu_theme_most_popular_groups() %}
            <div class="col-md-2 col-xs-6">
                <div class="text-center">
                    <a href="{{ h.url_for(controller='group', action='read', id=group.name) }}" data-toggle="tooltip"
                        data-placement="bottom" title="{{ group.display_name | upper }}">
                        <img src="/assets/images/gov/icons/{{ group.name }}.png"
                            onmouseover="this.src='/assets/images/gov/icons/{{ group.name }}-o.png'"
                            onmouseout="this.src='/assets/images/gov/icons/{{ group.name }}.png'" alt="{{ group.display_name | upper }}"
                            height="50" />
                    </a>
                    <h4>{{ group.display_name.split(' ', 1)[0].replace(",", "") | upper }}</h4>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</section>
<!-- /GROUPS -->


