{% ckan_extends %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Nunito|Titillium+Web&display=swap" rel="stylesheet">
    <!-- <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"> -->
    <!--
    <link href="/assets/css/datagovro.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/mycss.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/header-1.css" rel="stylesheet" type="text/css"/>
    -->
    <link rel="stylesheet" type="text/css" href="http://www2.data.gov.my/dist/css/portal.css">
    <link rel="stylesheet" type="text/css" href="http://www2.data.gov.my/dist/css/hover.css">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">

    <style>
        
        .px-4{
            padding-left: 5rem!important;
            padding-right: 5rem!important;
        }

        .navbar{
            margin-bottom: 0px;
        }

        .input-group {
            position: relative;
            display: table;
            border-collapse: separate;
        }

        .btn-lg {
            border: 1px solid #ced4da;
        }

        .input-lg {
            height: 46px;
            padding: 10px 16px;
            font-size: 18px;
            line-height: 1.3333333;
            border-radius: 6px;
        }

        .btn{
            height: 46px;
        }

        .form-control {
            display: block;
            width: 100%;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555555;
            background-color: #ffffff;
            background-image: none;
            border: 1px solid #cccccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
            -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        }

        .module-resource{
            width: 1128px;
        }

        .search-form.no-bottom-border{
            padding-bottom: 30px;
        }
        
        .resources{
            margin-top: 20px;
        }
        
        @font-face {
            font-family: 'Material Icons';
            font-style: normal;
            font-weight: 400;
            src: url(https://fonts.gstatic.com/s/materialicons/v52/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
            }

            .material-icons {
            font-family: 'Material Icons';
            font-weight: normal;
            font-style: normal;
            font-size: 24px;
            line-height: 1;
            letter-spacing: normal;
            text-transform: none;
            display: inline-block;
            white-space: nowrap;
            word-wrap: normal;
            direction: ltr;
            -webkit-font-feature-settings: 'liga';
            -webkit-font-smoothing: antialiased;
            }

    </style>
    
{% endblock %}

{%- block page %}
    {{ super() }}
        {% snippet 'snippets/sidenav.html' %}
{% endblock -%}

{%- block scripts %}
{{ super() }}
    {# <script type="text/javascript">var plugin_path = '/data/assets/plugins/';</script> #}
    {# <script type="text/javascript" src="/data/assets/plugins/jquery/jquery-2.2.3.min.js"></script> #}
    {# <script type="text/javascript" src="/data/assets/js/scripts.js"></script> #}
    
    {# <script type="text/javascript" src="http://www2.data.gov.my/dist/js/app.js"></script> #}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip-utils/0.1.0/jszip-utils.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.6.1/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.2/FileSaver.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<script>

    // set default display font name on navbar
    $(() => {
        const $text = document.getElementById('fontName');
        $text.innerHTML = localStorage.getItem('font') ?? 'Helvetica';
    })

    document.body.style.fontFamily = localStorage.getItem('font') ?? 'Helvetica';
    document.body.style.fontSize = localStorage.getItem('size') ?? '15px';
    document.body.style.color = localStorage.getItem('color') ?? '';

    setSize = (props) => {
        if (typeof(Storage !== "undefined")) {
            localStorage.setItem('size', props);
            const newSize = localStorage.getItem('size');
            document.body.style.fontSize = newSize;
        }
    }

    setColor = (props) => {
        if (typeof(Storage !== "undefined")) {
            localStorage.setItem('color', props);
            const newColor = localStorage.getItem('color', props);
            const arrTag = ['div', 'body', 'a', 'button', 'pre', 'footer'];
            arrTag.map(tag => {
                const x = document.getElementsByTagName(tag);
                var i;
                for (i = 0; i < x.length; i++) {
                    x[i].style.color = newColor;
                }
            })
        }
    }

    setFont = (props) => {
        if (typeof(Storage !== "undefined")) {
            localStorage.setItem('font', props);
            const newFont = localStorage.getItem('font');
            const target = document.getElementById('fontName');
            document.body.style.fontFamily = newFont;
            target.innerHTML = newFont;
        }
    }

    

    setLang = (lang_code) => {
        // ***this block is for testing purposes***
        // const test = `http://localhost/dataset/en_US/cases-person-with-disabilities-registered-by-category-and-age-group-malaysia-2018`
        // const origin = location.origin;
        // ***this block is for testing purposes***

        const regX = /\/ms|\/en_US/
        const link = location.href;
        const newLink = link.replace(regX, `/${lang_code}`);

        if (link.match(regX)) {
            if (link.match(regX)[0] !== `/${lang_code}`) {
                window.location.href = newLink
            }
        } else {
            return
        }
    }

</script>
{% endblock -%}
