{# Contact Page #}

{% extends "page.html" %}

{% block subtitle %}{{ _('Contact') }}{% endblock %}

{% block breadcrumb_content %}
<li class="active"><a href="">{{ _('Contact') }}</a></li>
{% endblock %}

{% block primary %}
<div style="padding:10px">

    <h1>Contact</h1>

    <table width="950">
        <tbody>
            <tr>
                <td><strong>Instituție:</strong></td>
                <td><a href="http://www.gov.ro" target="_blank"><strong>Guvernul României</strong></a></td>
                <td rowspan="20">
                    <center><iframe style="border: none; overflow: hidden; width: 240px; height: 200px;" src="//www.facebook.com/plugins/likebox.php?locale=ro_RO&amp;href=http%3A%2F%2Fwww.facebook.com%2Fguv.ro&amp;width=240&amp;height=200&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=false&amp;header=false&amp;appId=320979451285677" height="240" width="320" frameborder="0" scrolling="no"></iframe></center>
                </td>
                <td rowspan="20" width="280">
                    <iframe id="twitter-widget-0" class="twitter-timeline twitter-timeline-rendered" scrolling="no" frameborder="0" allowtransparency="true" title="Twitter Timeline Widget" style="border: none; max-width: 100%; min-width: 180px;" width="240" height="200"></iframe><br>
                </td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td><strong> Email:</strong></td>
                <td>
                    <a href="mailto:online@gov.ro" target="_blank">online@gov.ro</a> – Administrare Portal<br>
                    <a href="/CONTACTE-INSTITUTII.xlsx" target="_blank">Contacte Instituții</a> – Informații privind seturiile de date
                </td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td><strong> Adresă:</strong></td>
                <td>&nbsp;&nbsp;Piața Victoriei nr. 1, sector 1, București</td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td><strong> Telefon:</strong></td>
                <td>&nbsp;&nbsp;+40-21-314 34 00, 319 15 64</td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <!--<tr>
            <td><strong> Relații cu publicul:</strong></td>
            <td>Birou audiențe cetățeni: interior 1006<br>
            Program: luni–vineri: 09:00–16:00<br>
            Registratura generală: interior 1288</td>
            </tr>-->
            <tr>
                <td></td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </tbody>
    </table>
    <p></p>
        <center>
            <iframe src="https://maps.google.ro/maps?f=q&amp;source=s_q&amp;hl=ro&amp;geocode=&amp;q=Guvernul+Rom%C3%A2niei,+Pia%C8%9Ba+Victoriei,+Bucure%C8%99ti,+Bucure%C5%9Fti&amp;aq=0&amp;oq=guvernul+ro&amp;sll=44.4383,26.095222&amp;sspn=0.281904,0.617294&amp;ie=UTF8&amp;hq=Guvernul+Rom%C3%A2niei,&amp;hnear=Pia%C5%A3a+Victoriei,+Bulevardul+Lasc%C4%83r+Catargiu,+Sector+1,+Bucure%C8%99ti,+Bucure%C5%9Fti&amp;t=m&amp;ll=44.452868,26.087487&amp;spn=0.004595,0.012896&amp;z=18&amp;iwloc=near&amp;output=embed" height="484" width="100%" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
        </center>
    <p></p>

    <div class="clear"></div>

</div>
{% endblock %}

{% block secondary %}

{% endblock %}
