<footer class="pr-footer">
  <div class="container my-auto">
    <div class="d-flex flex-row py-4 text-center">
      <div class="col" style="margin-bottom: 0px;">
        <a href="http://www2.data.gov.my/p/penafian" class="text-light en_title"
          >{{ _('Disclaimer') }}</a
        >
      </div>
      <div class="col" style="margin-bottom: 0px;">
        <a href="http://www2.data.gov.my/p/hubungi-kami" class="text-light en_title"
          >{{ _('Contact Us') }}</a
        >
      </div>
    </div>
    <div class="container justify-content-center text-center py-0 my-0">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-1"></div>
        <div class="col px-0 mx-2">
            <a style="text-decoration: none" href="https://www.facebook.com/mampujpm" target="_blank">
                <button class="btn btn-primary btn-circle ft-effect" style="height: 25px">
                  <i class="fa fa-facebook fa-lg m-auto"></i>
                </button>
            </a>
        </div>
        <div class="col px-0 mx-2">
            <a style="text-decoration: none" href="https://twitter.com/MAMPUJPM" target="_blank">
              <button class="btn btn-info btn-circle ft-effect" style="height: 25px">
                <i class="fa fa-twitter fa-lg m-auto"></i>
              </button>
            </a>
        </div>
        <div class="col px-0 mx-2">
          <a style="text-decoration: none" href="https://www.youtube.com/channel/UCfgh5pSh2ovMbeQ6RO9avMw" target="_blank">
            <button class="btn btn-danger btn-circle ft-effect" style="height: 25px">
              <i class="fa fa-youtube fa-lg m-auto"></i>
            </button>
          </a>
        </div>
        <div class="col px-0 mx-2">
          <a style="text-decoration: none" href="https://www.instagram.com/mampujpm/" target="_blank">
            <button class="btn instagram btn-circle ft-effect" style="height: 25px">
              <i class="fa fa-instagram fa-lg m-auto"></i>
            </button>
          </a>
        </div>
        <div class="col px-0 mx-2">
          <a style="text-decoration: none" href="https://www.flickr.com/photos/mampujpm" target="_blank">
            <button class="btn btn-light btn-circle ft-effect" style="height: 25px">
              <i class="fa fa-flickr fa-lg m-auto"></i>
            </button>
          </a>
        </div>
        <div class="col px-0 mx-2">
          <a style="text-decoration: none" href="https://www.mampu.gov.my/ms/rss-menu" target="_blank">
            <button class="btn btn-warning btn-circle ft-effect" style="height: 25px">
              <i class="fa fa-rss m-auto fa-lg m-auto"></i>
            </button>
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-1"></div>
      </div>
    <div class="copyright text-center my-auto pt-3 pb-5">
      <span class="text-muted"
        >HAKCIPTA TERPELIHARA © DATA TERBUKA 2020</span><br />
      <span class="text-muted"
        >Paparan terbaik menggunakan pelayar internet Mozilla Firefox dan Chrome</span>
    </div>
  </div>
</footer>
<style>
  .ftEffect {
    border: 2px solid white;
    border-radius: 50%;
  }
</style>