<footer id="footer">
    <div class="container">
        {% block footer_content %}
        <div class="row">
            <div class="col-md-8">
                {% block footer_nav %}
                <ul class="footer-links list-unstyled">
                    {% block footer_links %}
                    <li><a href="{{ h.url_for(controller='home', action='about') }}">{{ _('About {0}').format(g.site_title) }}</a></li>
                    {% endblock %}
                    {% block footer_links_ckan %}
                    <li><a href="/termeni.html">{{ _('Terms and conditions') }}</a></li>
                    <li><a href="/cookie.html">{{ _('Cookies') }}</a></li>
                    {% set api_url = 'http://docs.ckan.org/en/{0}/api/'.format(g.ckan_doc_version) %}
                    <li><a href="{{ api_url }}">{{ _('CKAN API') }}</a></li>
                    <li><a href="http://www.ckan.org/">{{ _('CKAN Association') }}</a></li>
                    <li><a href="http://www.opendefinition.org/okd/"><img
                                src="{{ h.url_for_static('/base/images/od_80x15_blue.png') }}" alt="Open Data"></a></li>
                    {% endblock %}
                </ul>
                {% endblock %}
            </div>
            <div class="col-md-4">
                {% block footer_attribution %}
                <p>{% trans %}<strong>Powered by</strong> <a class="hide-text ckan-footer-logo" href="http://ckan.org">CKAN</a>{% endtrans %}</p>
                {% endblock %}
                {% block footer_lang %}
                {% snippet "snippets/language_selector.html" %}
                {% endblock %}
            </div>
        </div>
        {% endblock %}
    </div>

    {% block footer_debug %}
        {% if g.debug %}
            {% include 'snippets/debug.html' %}
        {% endif %}
    {% endblock %}
</footer>