<div
  class="navbar-a navbar-expand-lg indz navbar-light d-none d-lg-block"
  style="background-color: #eaeaea;"
>
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarNav"
    >
      <ul class="navbar-nav ml-auto">
        <!--<li class="nav-item">
          <div class="navbar-nav ml-auto">
            Tema: &nbsp;
            <a
              data-turbolinks="false"
              class="has-tooltip-bottom has-tooltip-bottom-desktop"
              href="http://150.242.183.95/background/asal"
              ><div class="square" style="background-color: blue;"></div></a
            >&nbsp;
            <a
              data-turbolinks="false"
              class="has-tooltip-bottom has-tooltip-bottom-desktop"
              href="http://150.242.183.95/background/red"
              ><div class="square" style="background-color: red;"></div></a
            >&nbsp;
            <a
              data-turbolinks="false"
              class="has-tooltip-bottom has-tooltip-bottom-desktop"
              href="http://150.242.183.95/background/purple"
              ><div class="square" style="background-color: purple;"></div></a
            >&nbsp;&nbsp;
          </div>
        </li> -->
        <li class="nav-item">
          <div class="navbar-nav ml-auto">
            <div class="dropdown">
              <a
                class="dropdown-toggle"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="true"
                data-turbolinks="false"
              >
                <!-- &nbsp; Helvetica -->
                <span id="fontName" class="font-weight-bold"></span>
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a
                  id="fontFamily"
                  data-target="fontName"
                  onclick="setFont('Helvetica')"
                  class="dropdown-item"
                  data-turbolinks="false"
                  ><span style="font-family: Helvetica;">Helvetica</span></a
                >
                <a
                  id="fontFamily"
                  data-target="fontName"
                  onclick="setFont('Verdana')"
                  class="dropdown-item"
                  data-turbolinks="false"
                  ><span style="font-family: Verdana;">Verdana</span></a
                >
                <a
                  id="fontFamily"
                  data-target="fontName"
                  onclick="setFont('Lucida')"
                  class="dropdown-item"
                  data-turbolinks="false"
                  ><span style="font-family: Lucida;">Lucida</span></a
                >
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <div class="navbar-nav ml-auto spacing">
            &nbsp;&nbsp; Saiz:&nbsp;
            <a
              data-turbolinks="false"
              onclick="setSize('12px')"
              class="has-tooltip-bottom has-tooltip-bottom-desktop"
              >A-</a
            >&nbsp;
            <a
              data-turbolinks="false"
              onclick="setSize('15px')"
              class="has-tooltip-bottom has-tooltip-bottom-desktop"
              >A</a
            >&nbsp;
            <a
              data-turbolinks="false"
              onclick="setSize('18px')"
              class="has-tooltip-bottom has-tooltip-bottom-desktop"
              >A+</a
            >&nbsp;
          </div>
        </li>

        <li class="nav-item">
          <div class="navbar-nav ml-auto">
            &nbsp;&nbsp; Teks: &nbsp;
            <a
              data-turbolinks="false"
              onclick="setColor('')"
              class="has-tooltip-bottom has-tooltip-bottom-desktop"
              ><div class="square" style="background-color: black;"></div></a
            >&nbsp;
            <a
              data-turbolinks="false"
              onclick="setColor('#0d47a1')"
              class="has-tooltip-bottom has-tooltip-bottom-desktop"
              ><div class="square" style="background-color: #0d47a1;"></div></a
            >&nbsp;
            <a
              data-turbolinks="false"
              onclick="setColor('#0cb607')"
              class="has-tooltip-bottom has-tooltip-bottom-desktop"
              ><div class="square" style="background-color: #0cb607;"></div></a
            >&nbsp;
            <a
              data-turbolinks="false"
              onclick="setColor('red')"
              class="has-tooltip-bottom has-tooltip-bottom-desktop"
              ><div class="square" style="background-color: red;"></div
            ></a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>


<!-- Header Menu -->

<div class="navbar navbar-light navbar-expand-lg adjust-navbar">
  <div class="container">
    <!-- Logo -->
    <div class="navbar-brand mb-0 d-flex align-items-center">
      <a 
        data-turbolinks="false"
        href="http://www2.data.gov.my/"
        ><img
          src="http://www2.data.gov.my/images/dtsa-logo.png"
          style="width: 200px;"
      /></a>
      <div class="pl-3" style="display: inline-block;">
        <!-- <a href="http://150.242.183.95"><span class="pr-top-title">data.gov.my</span></a><br/> -->
        <!-- <span class="pr-top-subtitle">data untuk kesejahteraan rakyat</span> -->
      </div>
    </div>
    <!-- Menu Button -->
    <button 
        data-turbolinks="false"
        class="navbar-toggler"
        type="button" 
        data-toggle="collapse" 
        data-target="#navbarNav1" 
        aria-controls="navbarNav1" 
        aria-expanded="false" 
        aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collapsible Menu -->
    <div class="collapse navbar-collapse" id="navbarNav1">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item px-4">
          <a
            data-turbolinks="false"
            class="nav-link font-weight-bold"
            onclick="setLang('ms')"
            >Bahasa Melayu</a
          > 
        </li>
        <li class="nav-item">
          <a
            data-turbolinks="false"
            class="nav-link font-weight-bold"
            onclick="setLang('en_US')"
            >English</a
          >
        </li>
        <!--<li class="nav-item">
                    <a class="nav-link font-weight-bold no-margin" href="http://150.242.183.95/admin">Log Masuk</a>
                </li>-->
      </ul>
    </div>
  </div>
</div>

<!-- Home | Data | Services | Announcement | Information -->
<!--
<div class="container justify-content-center text-center bg-light">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-1">
      <a href="http://150.242.183.95" style="color: rgb(122, 121, 121);"><i class="material-icons-outlined">home</i></a>
    </div>
    <div class="col">
      <a
      class="nav-link dropdown-toggle no-margin"
      href="#"
      id="navbarDropdown"
      role="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
      >{{ _('Data') }}</a>
    </div>
    <div class="col">
      Services
    </div>
    <div class="col">
      Announcement
    </div>
    <div class="col">
      Information
    </div>
    <div class="col-lg-2">  <button
      class="navbar-toggler"
      role="banner"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav1"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button></div>
  </div>
</div>
-->


<div class="navbar navbar-expand-lg pr-nav-bar adjust-navbar">
  <div class="container">
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <a href="http://www2.data.gov.my/" data-turbolinks="false" style="color: rgb(122, 121, 121);"
        ><i class="material-icons-outlined">home</i></a
      >
      <ul class="navbar-nav">
        <li class="nav-item dropdown px-4">
          <a
            class="nav-link dropdown-toggle no-margin"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            data-turbolinks="false"
            >{{ _('Data') }}</a
          >
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" data-turbolinks="false" href="http://www2.data.gov.my/p/set-data-api"
              >{{ _('API Dataset') }}</a
            >
            <!--<a
              class="dropdown-item"
              href="http://150.242.183.95/p/set-data-kementerian"
              >{{ _('Organization Dataset') }}</a
            > -->
            <a
              data-turbolinks="false"
              class="dropdown-item"
              href="http://www2.data.gov.my/p/set-data-popular"
              >{{ _('Latest Dataset') }}</a
            >
            <a
              data-turbolinks="false"
              class="dropdown-item"
              href="http://www2.data.gov.my/p/set-data-terkini"
              >{{ _('Popular Dataset') }}</a
            >
          </div>
        </li>
        <li class="nav-item dropdown px-4 no-margin">
          <a
            data-turbolinks="false"
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            {{ _('Services') }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a
              data-turbolinks="false"
              class="dropdown-item"
              href="http://www2.data.gov.my/app/permohonan-set-data"
              >{{ _('Dataset Request') }}</a
            >
            <a
              data-turbolinks="false"
              class="dropdown-item"
              href="http://www2.data.gov.my/app/semakan-set-data"
              >{{ _('Dataset Checking') }}</a
            >
            <a
              data-turbolinks="false"
              class="dropdown-item"
              href="http://www2.data.gov.my/app/galeri"
              >{{ _('Application Gallery') }}</a
            >
          </div>
        </li>
        <li class="nav-item dropdown px-4 no-margin">
          <a
            data-turbolinks="false"
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            {{ _('Announcement') }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" data-turbolinks="false" href="http://www2.data.gov.my/app/hebahan"
              >{{ _('News') }}</a
            >
            <a class="dropdown-item" data-turbolinks="false" href="http://www2.data.gov.my/app/aktiviti"
              >{{ _('Activity') }}</a
            >
          </div>
        </li>
        <li class="nav-item dropdown px-4 no-margin">
          <a
            data-turbolinks="false"
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            {{ _('Information') }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" data-turbolinks="false" href="http://www2.data.gov.my/app/artikel"
              >{{ _('Article') }}</a
            >
            <a
              data-turbolinks="false"
              class="dropdown-item"
              href="http://www2.data.gov.my/p/mengenai-data-gov-my"
              >{{ _('About data.gov.my') }}</a
            >
            <a
              data-turbolinks="false"
              class="dropdown-item"
              href="http://www2.data.gov.my/p/dasar-privasi"
              >{{ _('Privacy Policy') }}</a
            >
            <a
              data-turbolinks="false"
              class="dropdown-item"
              href="http://www2.data.gov.my/p/pekeliling-data-terbuka"
              >{{ _('Open Data Circular') }}</a
            >
            <a class="dropdown-item" data-turbolinks="false" href="http://www2.data.gov.my/p/polisi-data"
              >{{ _('Data Policy') }}</a
            >
            <a
              data-turbolinks="false"
              class="dropdown-item"
              href="http://www2.data.gov.my/p/terma-pengunaan"
              >{{ _('Terms of Use') }}</a
            >
            <a
              data-turbolinks="false"
              class="dropdown-item"
              href="http://www2.data.gov.my/p/amalan-kebebasan-maklumat"
              >{{ _('Freedom of Information Practice') }}</a
            >
            <a
              data-turbolinks="false"
              class="dropdown-item"
              href="http://www2.data.gov.my/p/muat-turun-manual"
              >{{ _('Download User Manual') }}</a
            >
            <a
              data-turbolinks="false"
              class="dropdown-item"
              href="http://www2.data.gov.my/app/qa"
              >{{ _('FAQ') }}</a
            >
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
