{% extends "base_home.html" %}

{%- block page -%}

{% block skip %}
<div class="hide"><a href="#content">{{ _('Skip to content') }}</a></div>
{% endblock %}

{#
  Override the header on a page by page basis by extending this block. If
  making sitewide header changes it is preferable to override the header.html
  file.
  #}
{%- block header %}
{% include "header.html" %}
{% endblock -%}

{# The content block allows you to replace the content of the page if needed #}
{%- block content %}
{% block maintag %}{% endblock %}
{% block toolbar %}
<section class="page-header dark page-header-xs">
    <div class="container">
        <!-- <h1>BLOG</h1> -->
        <!-- breadcrumbs -->
        {% block breadcrumb %}
        {% if self.breadcrumb_content() | trim %}
        <ol class="breadcrumb">
            {% snippet 'snippets/home_breadcrumb_item.html' %}
            {% block breadcrumb_content %}{% endblock %}
        </ol><!-- /breadcrumbs -->
        {% endif %}
        {% endblock %}

    </div>
</section>
{% endblock %}
<section>
    <div class="container">
        <div class="row">
            {% block main_content %}
            {% block flash %}
            <div class="flash-messages">
                {% block flash_inner %}
                {% for message in h.flash.pop_messages() | list %}
                <div class="alert alert-warning fade in {{ message.category }}">
                    {{ h.literal(message) }}
                </div>
                {% endfor %}
                {% endblock %}
            </div>
            {% endblock %}

            <div class="col-md-3 col-sm-3">
                {#
                The pre_primary block can be used to add content to before the
                rendering of the main content columns of the page.
                #}
                {% block pre_primary %}
                {% endblock %}
                
                {% block secondary %}
                <!-- side navigation -->
                <div class="side-nav">
                    {#
                    The secondary_content block can be used to add content to the
                    sidebar of the page. This is the main block that is likely to be
                    used within a template.

                    Example:

                    {% block secondary_content %}
                        <h2>A sidebar item</h2>
                        <p>Some content for the item</p>
                    {% endblock %}
                    #}
                    {% block secondary_content %}{% endblock %}
                </div>
                {% endblock %}
            </div>
            {% block primary %}
            <div class="col-md-9 col-sm-9">
                {#
                The primary_content block can be used to add content to the page.
                This is the main block that is likely to be used within a template.

                Example:

                {% block primary_content %}
                    <h1>My page content</h1>
                    <p>Some content for the page</p>
                {% endblock %}
                #}
                {% block primary_content %}
                <div class="blog-post-item">
                    {% block page_header %}
                    <header class="module-content page-header">
                        {% if self.content_action() | trim %}
                        <div class="content_action">
                            {% block content_action %}{% endblock %}
                        </div>
                        {% endif %}
                        <ul class="nav nav-tabs">
                            {% block content_primary_nav %}{% endblock %}
                        </ul>
                    </header>
                    {% endblock %}
                    <div class="module-content">
                        {% if self.page_primary_action() | trim %}
                        <div class="page_primary_action">
                            {% block page_primary_action %}{% endblock %}
                        </div>
                        {% endif %}
                        {% block primary_content_inner %}
                        {% endblock %}
                    </div>
                </div>
                {% endblock %}
            </div>
            {% endblock %}
            {% endblock %}
        </div>
    </div>
</section>
{% endblock -%}

{#
  Override the footer on a page by page basis by extending this block. If
  making sitewide header changes it is preferable to override the footer.html-u
  file.
  #}
{%- block footer %}
{% include "footer.html" %}
{% endblock -%}
{%- endblock -%}

{%- block scripts %}
{% resource 'base/main' %}
{% resource 'base/ckan' %}
{% if g.tracking_enabled %}
{% resource 'base/tracking.js' %}
{% endif %}
{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/cookiemonster.js"></script>
<script src="/cookieconsent.js"></script>
<script type="text/javascript">
    window.cookieconsent_options = {
        "message": "Acest site folosește cookies. Navigând în continuare vă exprimați acordul asupra folosirii cookie-urilor.",
        "dismiss": "Sunt de acord",
        "link": "http://data.gov.ro/cookie.html",
        "theme": "dark-top"
    };
</script>
{% endblock -%}